<h1>Liste des livres</h1>

<button *ngIf="!showForm" (click)="showForm = true" class="btn btn-light">Cliquer ici pour ajouter</button>

<form *ngIf="showForm" (ngSubmit)="creerOuModifier()" [formGroup]="livreForm">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)" />

            @if (nameCtrl.hasError('required')) {
                <div class="invalid-feedback">Le nom est obligatoire</div>
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label for="publication" class="col-sm-2 col-form-label">Date de publication</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="publication" formControlName="publication" [class.is-invalid]="publicationCtrl.invalid && (publicationCtrl.dirty || publicationCtrl.touched)" />

            @if (publicationCtrl.hasError('required')) {
                <div class="invalid-feedback">La date est obligatoire</div>
            }

            @else if (publicationCtrl.hasError('pattern')) {
                <div class="invalid-feedback">La date doit être au format année-mois-jour</div>
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label for="auteurId" class="col-sm-2 col-form-label">Auteur</label>
        <div class="col-sm-10">
            <select class="form-select" id="auteurId" formControlName="author" [class.is-invalid]="authorCtrl.invalid && (authorCtrl.dirty || authorCtrl.touched)">
                <option *ngFor="let auteur of auteurs$ | async" [value]="auteur.id">{{ auteur.nom }}</option>
            </select>

            @if (authorCtrl.hasError('required')) {
                <div class="invalid-feedback">L'auteur est obligatoire</div>
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label for="editeurId" class="col-sm-2 col-form-label">Editeur</label>
        <div class="col-sm-10">
            <select class="form-select" id="editeurId" formControlName="editor" [class.is-invalid]="editorCtrl.invalid && (editorCtrl.dirty || editorCtrl.touched)">
                <option *ngFor="let editeur of editeurs$ | async" [value]="editeur.id">{{ editeur.nom }}</option>
            </select>

            @if (editorCtrl.hasError('required')) {
                <div class="invalid-feedback">L'éditeur est obligatoire</div>
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label for="collectionId" class="col-sm-2 col-form-label">Collection</label>
        <div class="col-sm-10">
            <select class="form-select" id="collectionId" formControlName="collection">
                <option [ngValue]="null">-- Aucune collection --</option>
                <option *ngFor="let collection of collections$ | async" [value]="collection.id">{{ collection.nom }}</option>
            </select>
        </div>
    </div>

    <div class="btn-group">
        @if (editingLivre) {
            <input type="submit" [disabled]="livreForm.invalid" class="btn btn-warning" value="Modifier" />
        }

        @else {
            <input type="submit" [disabled]="livreForm.invalid" class="btn btn-success" value="Créer" />
        }

        <button type="button" class="btn btn-danger" (click)="annulerEditer()">Annuler</button>
    </div>
</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de publication</th>
            <th>Auteur</th>
            <th>Editeur</th>
            <th>Collection</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let livre of livres$ | async; trackBy: trackLivre">
            <td>
                <a [routerLink]="[ '/livre', livre.id ]">{{ livre.nom }}</a>
            </td>

            <td>{{ livre.publication | date:"dd/MM/yyyy" }}</td>
            <td>{{ livre.auteurNom }}</td>
            <td>{{ livre.editeurNom }}</td>
            <td>{{ livre.collectionNom }}</td>

            <td>
                <div class="btn-group" >
                    <button class="btn btn-warning" (click)="editer(livre)">Modifier</button>
                    <button class="btn btn-danger" (click)="supprimer(livre)">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
