<p>
  {{ 5 + 5 }}
</p>

<p>{{ title }}</p>

<h1>Le titre = {{ title }}</h1>

<p>Le prénom est {{ prenom }}</p>

<input type="text" [value]="prenom" (input)="onInput($event)" />

<button (click)="changePrenom()" >Modifier prénom</button>

<!-- ngModel => binding two-ways => lecture + écriture -->
<input type="text" [(ngModel)]="prenom" />

<hr />

<select [(ngModel)]="couleur">
  <option value="black">Noir</option>
  <option value="green">Vert</option>
  <option value="yellow">Jaune</option>
  <option value="blue">Bleu</option>
</select>

<input type="color" [(ngModel)]="couleur" />

<p [style.color]="couleur">Le paragraphe en couleur : {{ couleur }}</p>

<hr />

<input type="number" [(ngModel)]="todo.id">
<input type="text" [(ngModel)]="todo.title">
<input type="checkbox" [(ngModel)]="todo.completed">

<p>{{ todo.id }} - {{ todo.title }} - {{ todo.completed }}</p>

<hr />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th>Complet 2 ?</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of todos; track t?.id">
      <td>{{ t.id }}</td>
      <td>{{ t.title }}</td>

      <td *ngIf="t.completed; else pastermine">
        Terminé !
      </td>

      <!-- <td *ngIf="!t.completed">
        Pas terminé
      </td> -->

      <ng-template #pastermine>
        <td>Pas terminé</td>
      </ng-template>

      <td>
        @if (t.completed) {
          <span>Terminé !</span>
        }

        @else {
          <span>Pas terminé !</span>
        }
      </td>
    </tr>
  </tbody>
</table>

<div>
  <input type="number" [(ngModel)]="todo.id">
  <input type="text" [(ngModel)]="todo.title">
  <input type="checkbox" [(ngModel)]="todo.completed">

  <button (click)="ajouterTodo()">Ajouter</button>
</div>
