body {
	background-color: #F4EFE7;
	background-image:url("assets/images/tpt.png");
	background-size:100% 100%;
}

#content {
	margin: 75px;
}

.formAjout {
	display: none;
}

 .disabledBtn
 {
 	font-size:12px;
 	color:red;
 	visibility:hidden;
 }