<h1>Liste des éditeurs</h1>

<button *ngIf="!showForm" (click)="showForm = true" class="btn btn-light">Cliquer ici pour ajouter</button>

<form *ngIf="showForm" (ngSubmit)="creerOuModifier()" [formGroup]="editeurForm">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)" />

            @if (nameCtrl.hasError('required')) {
                <div class="invalid-feedback">Le nom est obligatoire</div>
            }
        </div>
    </div>

    <div class="mb-3 row">
        <label for="pays" class="col-sm-2 col-form-label">Pays</label>
        <div class="col-sm-10">
            <select class="form-select" id="pays" formControlName="pays" [class.is-invalid]="paysCtrl.invalid && (paysCtrl.dirty || paysCtrl.touched)">
                <option *ngFor="let nat of nationalites" [value]="nat">
                    {{ nat | nationalite:'P' }}
                </option>
            </select>

            @if (paysCtrl.hasError('required')) {
                <div class="invalid-feedback">Le pays est obligatoire</div>
            }
        </div>
    </div>

    <div class="btn-group">
        @if (editingEditeur) {
            <input type="submit" [disabled]="editeurForm.invalid" class="btn btn-warning" value="Modifier" />
        }

        @else {
            <input type="submit" [disabled]="editeurForm.invalid" class="btn btn-success" value="Créer" />
        }

        <button type="button" class="btn btn-danger" (click)="annulerEditer()">Annuler</button>
    </div>
</form>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Pays</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let editeur of editeurs$ | async; trackBy: trackEditeur">
            <td>
                <a [routerLink]="[ '/editeur', editeur.id ]">{{ editeur.nom }}</a>
            </td>

            <td>
                {{ editeur.pays | nationalite:'P' }}
            </td>

            <td>
                <div class="btn-group" >
                    <button class="btn btn-warning" (click)="editer(editeur)">Modifier</button>
                    <button class="btn btn-danger" (click)="supprimer(editeur)">Supprimer</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
