<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th>Complet 2 ?</th>
      <th>Complet 3 ?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of todos$ | async; trackBy: trackByTodo" [style.color]="t.completed | todoState">
      <td>
        <a [routerLink]="[ '/todos', t.id ]">{{ t.id }}</a>
      </td>

      <td>{{ t.title }}</td>

      <td *ngIf="t.completed; else pastermine">
        Terminé !
      </td>

      <!-- <td *ngIf="!t.completed">
        Pas terminé
      </td> -->

      <ng-template #pastermine>
        <td>Pas terminé</td>
      </ng-template>

      <td>
        @if (t.completed) {
          <span>Terminé !</span>
        }

        @else {
          <span>Pas terminé !</span>
        }
      </td>

      <td>{{ t.completed | todoState:"string" }}</td>

      <td>
        <button (click)="editTodo(t)">Modifier</button>
        <button (click)="deleteTodo(t)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <input type="text" [(ngModel)]="todo.title">
  <input type="checkbox" [(ngModel)]="todo.completed">

  @if (todo.id) {
    <button (click)="modifierTodo()">Modifier</button>
  }

  @else {
    <button (click)="ajouterTodo()">Ajouter</button>
  }
</div>
