<input type="number" [(ngModel)]="todo.id">
<input type="text" [(ngModel)]="todo.title">
<input type="checkbox" [(ngModel)]="todo.completed">

<p>{{ todo.id }} - {{ todo.title }} - {{ todo.completed }}</p>

<hr />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th>Complet 2 ?</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let t of todos; track t?.id">
      <td>{{ t.id }}</td>
      <td>{{ t.title }}</td>

      <td *ngIf="t.completed; else pastermine">
        Terminé !
      </td>

      <!-- <td *ngIf="!t.completed">
        Pas terminé
      </td> -->

      <ng-template #pastermine>
        <td>Pas terminé</td>
      </ng-template>

      <td>
        @if (t.completed) {
          <span>Terminé !</span>
        }

        @else {
          <span>Pas terminé !</span>
        }
      </td>
    </tr>
  </tbody>
</table>

<div>
  <input type="number" [(ngModel)]="todo.id">
  <input type="text" [(ngModel)]="todo.title">
  <input type="checkbox" [(ngModel)]="todo.completed">

  <button (click)="ajouterTodo()">Ajouter</button>
</div>
